.container {
    width: 100%;
    height: 100vh;
    background-image: url("src/assets/images/Pattern.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;

}

.content {
    display: flex;
    
   
}

.man {
    width: 700px;
    height: auto;

}